#fixedbutton {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

#wrapper {
    padding-left: 400px;
    transition: all 0.4s ease 0s;
}

.form-check-input {
    margin-left: 1em;
}

label {
    margin-left: 2.4em;
}

#sidebar-wrapper {
    margin-left: -400px;
    left: 400px;
    width: 400px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

#page-content-wrapper {
    width: 100%;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 400px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #e9ecef;
    display: block;
    text-decoration: none;
    padding-left: 60px;
}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #e9ecef;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.sidebar-nav>.sidebar-brand a {
    color: #e9ecef;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {
    text-decoration: none;
}

.btn-menu {
    color: #e9ecef;
}

.inset {
    padding: 20px;
}

@media (max-width:767px) {
    #wrapper {
        padding-left: 0;
    }
    #sidebar-wrapper {
        left: 0;
    }
    #wrapper.active {
        position: relative;
        left: 400px;
    }
    #wrapper.active #sidebar-wrapper {
        left: 400px;
        width: 400px;
        transition: all 0.4s ease 0s;
    }
    #menu-toggle {
        display: inline-block;
    }
    .inset {
        padding: 15px;
    }
}